.header {
    margin-top: 2rem;
}

.header__language {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    height: 6rem;
}

.header__image {
    height: inherit;
    cursor: pointer;
}

.header__image *{
    pointer-events: none
}

.header__img {
    height: inherit;
    object-fit: cover;
}

